header {
    height: 128px;
    width: 100%;

    background-color: #e76c1f;

    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
